# Repository
results/
.DS_Store
tensorboard_logs/
*.pth
*.nii.gz

# Caches
__pycache__/
.pytest_cache/

# Pycharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# builds
*.egg-info/

